<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ITEMS PAGE</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h3>ITEM Directory</h3>
    <hr>

    <!--Add a button-->
    <a th:href="@{/groceryItemPage}"
       class="btn btn-primary btn-sm mb-3">
        Add New Grocery Item
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Grocery Item</th>
        </tr>
        </thead>
        <!--tempEmployee >loop parameter, employees> model attribute-->
        <tbody>
        <tr th:each="groceryItem : ${cart.groceryList}">
            <td th:text="${groceryItem}"/>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>